body {
  font-size: 14px;
  line-height: 1.3em;
  background-color: #ffffff;
}
#divDate {
  color: #b04c34;
}
a {
  color: #d16e57;
}
a:hover {
  color: #c05d46;
}
textarea {
  font-size: 14px;
  width: 95%;
}
